body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


nav {
  width: 100%;
  height: 70px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.37) 0px 1px 1px 1px;
  margin-bottom: 10px;
}

.navbar-wrapper {
  display: flex;
}

.navbar {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
}

.link-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.page-links {
  display: flex;
  justify-content: space-around;
}

.link-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #616060;
  width: 100%;
  height: 100%;
}

.auth-background {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-tag {
  text-decoration: none;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

.auth-tag-background {
  width: 120px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-tag-background:hover {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(128, 128, 128, 0.795), rgba(255, 255, 255, 0));
  cursor: pointer;
}

.link-background {
  height: 100%;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-background:hover {
  -webkit-transition: 5s;
  transition: 5s;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(128, 128, 128, 0.795), rgba(255, 255, 255, 0));
  cursor: pointer;
}

#home-link {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
}

.home-link {
  margin-top: 5px;
  height: 60px;
  width: auto;
  background-position: center;
  background-size: cover;
}

.auth-language-wrapper {
  background: #616060;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 10px;
}

.language-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.language-button {
  border: none;
  font-size: 15px;
  color: #ffffff;
  background: #616060;
  outline: none;
}

.language-button:hover {
  cursor: pointer;
}

#language-divider {
  border-left: 1px solid #ffffff;
  height: 60%;
}

.wrapper {
  width: 100%;
  padding: 2%;
}

.courses-wrapper {
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.37) 1px 1px 1px 1px;
  padding: 5px;
}

.course-link {
  margin: 5px;
}

/* Course card styling */

.course-page {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.course-wrapper {
  display: grid;
  grid-template-rows: 20px 60px 1fr;
  border: 1px solid black;
  padding: 15px;
  margin: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-description {

}

/* Auth Pages */

.auth-page {
  width: 100%;
  display: flex;
  justify-content: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-title {
  font-weight: lighter;
}

.auth-input {
  width: 250px;
  height: 25px;
  margin: 10px;
  border-radius: 5px;
  padding-left: 5px;
  border: 1px solid black;
}

.auth-button {
  width: 200px;
  height: 25px;
  margin: 10px;
  background-color: #616060;
  color: #ffffff;
  border-radius: 15px;
}

.auth-button:disabled {
  background-color: #8f8f8f;
}

/* Contact */

/* Page Content */

.content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.paragraph-wrapper {
  width: 80%;
}