/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 15px 0 15px 0;
  line-height: 20px;
}

.body {
  padding-top: 10px;
  width: 100%;
  height: calc(100vh - 80px);
  background-image: radial-gradient(circle, white 80%, red 200%);
}

nav {
  width: 100%;
  height: 70px;
  display: flex;
  border-bottom: 2px solid rgba(180, 65, 75, 0.5);
}

.navbar {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
}

.link-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.page-links {
  display: flex;
  justify-content: space-around;
}

.link-tag {
  font-weight: 500;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgb(180, 65, 75);
  height: 100%;
  text-align: center;
  transition: background 0.7s ease-in;
}

.link-tag:hover {
  color: #ffffff;
  background: rgb(180, 65, 75);
  cursor: pointer;
  transition: 1s;
  font-weight: 800;
}

.link-tag.active {
  color: #ffffff;
  background: rgb(180, 65, 75);
}

.auth-background {
  height: 100%;
  position: relative;
  display: inline-block;
}

.auth-background:hover .auth-content {
  display: block;
}

.user-button {
  height: 70px;
  width: 100px;
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  background: none;
  border: none;
  color: #ffffff;
  margin-left: 20px;
  cursor: pointer;
  outline: none;
}

#signout-button:hover {
  font-weight: 900;
}

.auth-background:hover .auth-button-wrapper {
  background: none;
}

.auth-tag {
  text-decoration: none;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

.auth-tag:hover {
  font-weight: 800;
}

.auth-content {
  display: none;
  position: absolute;
  min-width: 140px;
  z-index: 1;
  background: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.37);
}

.auth-tag-background {
  display: block;
  background: rgb(180, 65, 75);
  height: 30px;
  width: 100%;
  text-align: center;
}

.auth-tag-background:hover {
  cursor: pointer;
}

#home-link {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
}

#home-link:hover {
  background: none;
}

.home-link {
  margin-top: 5px;
  height: 60px;
  width: auto;
  background-position: center;
  background-size: cover;
}

.auth-language-wrapper {
  background: rgb(180, 65, 75);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.language-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.language-button {
  border: none;
  font-size: 15px;
  font-weight: 100;
  color: #ffffff;
  background: none;
  outline: none;
}

.language-button:hover {
  cursor: pointer;
  font-weight: 700;
}

#lang-select {
  font-weight: 700;
}

#language-divider {
  border-left: 1px solid #ffffff;
  height: 60%;
}

.wrapper {
  width: 100%;
  padding: 2%;
}

.courses-wrapper {
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.37) 1px 1px 1px 1px;
  padding: 5px;
}

.course-link {
  margin: 5px;
}

/* Course card styling */

.course-page {
  max-height: calc(100vh - 80px);
  overflow-y: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.course-wrapper {
  width: 700px;
  border-radius: 5px;
  padding: 15px;
  margin: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 900;
}

.card-p {
  margin: 20px 0 20px 0;
}

.description-tag {
  font-weight: 900;
  color: #323235;
}

.signup-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.course-signup-button {
  background: rgb(180, 65, 75);
  color: #ffffff;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 90%;
  font-weight: 500;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.37);
}

.course-signup-button:hover {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(187, 187, 187, 0.795), rgba(255, 255, 255, 0));
  cursor: pointer;
}

/* Auth Pages */

.auth-page {
  width: 100%;
  display: flex;
  justify-content: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-title {
  font-weight: 400;
  font-size: 17px;
  margin: 20px 20px;
  line-height: 140%;
  color: rgb(180, 65, 75);
}

.auth-input {
  font-size: 13px;
  width: 250px;
  height: 25px;
  margin: 10px;
  border-radius: 5px;
  padding-left: 5px;
  border: 1px solid rgb(180, 65, 75);
}

.auth-button {
  font-size: 13px;
  width: 200px;
  height: 30px;
  margin: 10px;
  background-color: rgb(180, 65, 75);
  color: #ffffff;
  border-radius: 15px;
}

.auth-button:disabled {
  background-color: #8f8f8f;
}

label {
  font-size: 15px;
}

/* Contact */

/* Page Content */

.content-wrapper {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragraph-wrapper {
  width: 80%;
}

.pd-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  margin: 20px;
}

li {
  margin-bottom: 10px;
}
/* Course Sign Up Page */

.signup-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.disclaimer-wrapper {
  width: 60%;
}

.contact-link {
  margin-left: 5px;
}

.signedup-page {
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.back-to-home {
  font-size: 15px;
  border: none;
  text-decoration: underline;
}

.confirm-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.confirm-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

/* @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
} */